<!DOCTYPE html>
<html lang="en">
  <head>
    <title>One Burger</title>
    <meta charset="utf-8"/>
    
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="css/deli-very.css">

    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="https://vuejs.org/js/vue.js"></script>
    <script defer type="text/javascript" src="js/menu.js"></script>
    <script defer src="js/js_script.js"></script>
    <script defer src="js/vue_script.js"></script>
   
  </head>
  <body>
    <main>
      <header id="header">
	<h1>Välkommen till One Burger</h1>
	<img src="https://q-cf.bstatic.com/images/hotel/max1024x768/216/216997351.jpg" id="headImg"></img>
      </header>
      
      <section id="burger">
	<h3>Välj burgare</h3>
	<p>Här väljer du vilken burgare du vill beställa</p>

	<div id="wrap" class="wrapper">
	    <div v-for="burger in food">
	      <div style="margin: 0 auto; grid-column: praseInt(burger);" >
		<h4>{{ burger.name }}</h4>

		<img v-bind:src="burger.img" alt="Span" title="Another in-line element" width="300" height="200">
	
		<p><input v-bind:id="burger.name" type="checkbox" v-model="burgerChoice" name="burger.name" v-bind:value="burger.name"></p>
		
		<ul>
		  <li>{{ burger.kcal }} kCal</li>
		  <li v-if="burger.lactose" class="lactose">Innehåller laktos</li>
		  <li v-if="burger.gluten" class="gluten">Innehåller gluten</li>
		  <li v-if="burger.vegan">Vegansk</li>
		</ul>
	      </div>
	    </div>
	  
	</div>
	
      </section>

      <section id="info">
	<h3>Kunduppgifter</h3>
	<p>Här fyller du i dina kunduppgifter</p>

	<h4>Leveransinformation</h4>
	<p>
	  <label for="fullname">Fyll i för- och eftername</label><br>
	  <input v-model="name" type="text" id="fullname" name="fn" required="required" placeholder="För- och efternamn" />
	</p>

	<p>
	  <label for="email">Fyll i email</label><br>
	  <input v-model="email"  type="email" id="email" name="em" required="required" placeholder="Email" />
	</p>

	<p>
	  <label for="payment">Betalningsmetod</label><br />
	  <select id="payment" name="pay" v-model="selected">
            <option selected="selected">Kort</option>
            <option>Faktura</option>
            <option>Swish</option>
            <option>Natura</option>
          </select>
	</p>
	
	<p>
	  <label>Kön</label><br />
            <input type="radio" name="gender" value="Man" v-model="picked">Man</br>
	    <input type="radio" name="gender" value="Kvinna" v-model="picked">Kvinna</br>
	    <input type="radio" name="gender" value="Ickebinär" v-model="picked">Ickebinär</br>
	    <input type="radio" name="gender" value="Vill ej svara" checked="checked" v-model="picked">Vill ej svara
	</p>

	<h1> Click in the map! </h1>
	<a href="/dispatcher" target="_blank">Open dispatcher in new window</a>.
	<div class="view-box">
	  <div id="dots" v-on:click="addOrder">
            <div 
              v-for="(order, key) in orders"
              v-bind:style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">
              {{key}}
            </div>
	  </div>
	</div>
	
	<button v-on:click="markDone(name, email, selected, picked)" type="submit" id="order">
	  <img src="https://image.flaticon.com/icons/png/512/126/126083.png" height="32px"/> Lägg beställning
	</button>

	<div id="orderInfo">
	  <h4>Din beställning</h4>
	</div>
      </section>

     
    </main>

    <footer>
      &copy; Copyright 2020 Fredrik Yngve
    </footer>
  </body>
</html>
