@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');



body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    margin: 0 auto;
}

button:hover {
    cursor: pointer;
}

table {
    width: 100vw;
    margin: 0 auto;
}

.lactose {
    color: maroon;
    font-weight: bold;
}

.gluten {
    color: blue;
    font-weight: bold;
}

#burger {
    color: white;
    background-color: black;
}

#info {

}
