@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');



body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    margin: 0 auto;
    width: 100vw;
}

button {
    margin-top: 50px;
}

button:hover {
    cursor: pointer;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -950%);
}

section {
    margin: 0 50px 0 50px;
    padding: 10px;
}

table {
    margin: 0 auto;
}

.lactose {
    color: maroon;
    font-weight: bold;
}

.gluten {
    color: blue;
    font-weight: bold;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 33% 33% 33%;
    margin: 0 auto;
}

.a {
    grid-column: 1;
    margin: 0 auto;
}

.b {
    grid-column: 2;
    margin: 0 auto;
}

.c {
    grid-column: 3;
    margin: 0 auto;
}


#burger {
    color: white;
    background-color: black;
    border: 5px dashed #ffffff;
}

#header {
    margin: 0 50px 0 50px;
    height: 10em;
    overflow: hidden;
}

#headImg {
    opacity: 0.5;
    height: auto;
    width: 100vw;
}

#info {
    border: 5px dashed #000000;
}
